/**
 * -----------------------------------------------------------------------
 *                              Color settings
 * -----------------------------------------------------------------------
 */

$c0: rgba(0, 0, 0, 0);
$c1: #ffffff;
$c2: #000000;
$c3: #021b33;
$c4: #062b4e;
$c5: #143e66;
$c6: #24527e;
$c7: #3f688f;
$c8: #4788c6;
$c9: #b5c9dd;
$c10: #d1d1d1;
$c11: #939393;
$c12: #575757;

$shadow: rgba($c2, 0.7);
