/**
 * -----------------------------------------------------------------------
 *                                  mixins
 * -----------------------------------------------------------------------
 */
$tightEndDefault: 100vw;
$wideEndDefault: 3.5vw;
$colorDefault1: $c1;
$colorDefault2: rgba($c8, 0.7);
//
//
@mixin skewedBorderUp ($color1:$colorDefault1, $color2:$colorDefault2, $tightEnd: $tightEndDefault, $wideEnd: $wideEndDefault) {
  .skewUp {
    &:after,
    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
    }

    &:before {
      top: calc(0.5px - #{$wideEnd});
      left: 0;
      border-bottom: $wideEnd solid $color1;
      border-right: $tightEnd solid transparent;
      z-index: 2;
    }

    &:after {
      top: calc(-#{$wideEnd} * 1.5);
      right: 0;
      border-bottom: calc(1.5 * #{$wideEnd}) solid $color2;
      border-left: calc(0.5 * #{$tightEnd}) solid transparent;
      z-index: 1;
    }
  }
}
@mixin skewedBorderDown ($color1:$colorDefault1, $color2:$colorDefault2, $tightEnd: $tightEndDefault, $wideEnd: $wideEndDefault) {
  .skewDown {
    &:after,
    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
    }

    &:before {
      top: 100%;
      left: 0;
      border-top: calc(1.5 * #{$wideEnd}) solid $color2;
      border-right: calc(0.5 * #{$tightEnd}) solid transparent;
      z-index: 1;
    }

    &:after {
      top: calc(100% - 0.5px);
      right: 0;
      border-top: $wideEnd solid $color1;
      border-left: $tightEnd solid transparent;
      z-index: 2;
    }
  }
}
